body {
  margin: 0px;
}

div.entry a {
  text-decoration:none;
  margin-left: 1px;
  margin-right: 3px;
  color: rgba(0, 84, 129, 0.84);
}

div.entry img {
  border: 1px solid #777777;
  max-width: 100%;
}

/*
This is required to get long words without spaces to break when
within a table cell
http://stackoverflow.com/questions/1258416
http://stackoverflow.com/questions/1057574
*/
div.entry span.entry-content td {
  vertical-align: top;
  white-space: normal;
  /* We have to change from break-word to break-all to get
  it to work here */
  word-break: break-all;

  /*
  TODO: the secondary problem is that the width of the cells
  is a bit awkward
  */
}

div.entry span.entry-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 0px;
  -webkit-margin: 0px;

  /* Messing around with giving images a 3d effect */
  box-shadow: 0 8px 6px -6px #222222;
}

.entrysource {
  display: block;
  font-size:10pt;
  color:#cccccc;
  margin-top: 6px;
  margin-bottom: 3px;
}

.entrysourcelink {
  text-decoration: underline;
}

@font-face {
  font-family: ArchivoNarrow-Regular;
  src: url('/fonts/ArchivoNarrow-Regular.ttf') format('truetype');
}

@font-face {
  /* Free from http://www.fontex.org/download/carto-gothic-std.otf */
  font-family: CartoGothicStd;
  src: url('/fonts/CartoGothicStd-Book.otf') format('opentype');
}

@font-face {
  /*
  http://jaydorsey.com/free-traffic-font/
  Clearly Different is released under the SIL Open Font License (OFL) 1.1.
  Based on http://mutcd.fhwa.dot.gov/pdfs/clearviewspacingia5.pdf
  */
  font-family: Clearly Different;
  src: url('/fonts/ClearlyDifferent1WNegativeContrast-Regular.otf') format('opentype');
}

@font-face {
  /* By John Stracke, Released under the OFL. Downloaded from his website */
  font-family: Essays1743;
  src: url('/fonts/Essays1743.ttf') format('truetype');
}

@font-face {
  font-family: FeltTip;
  src: url('/fonts/FontPalace-Free-Felt-Tip-Roman.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: News Cycle;
  src: url('/fonts/NewsCycle-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Noto Sans;
  src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Open Sans Regular;
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: PathwayGothicOne;
  src: url('/fonts/PathwayGothicOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: PlayfairDisplaySC;
  src: url('/fonts/PlayfairDisplaySC-Regular.ttf');
}

@font-face {
  font-family: Roboto Regular;
  src: url('/fonts/Roboto-Regular.ttf');
}
