html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

#f-it {
  position: absolute;
  width: 100%;
  border-spacing: 0;
  height: 100%;
}

#section-layout-container {
  vertical-align: top;
  padding-left: 6px;
  border-left: 2px solid #efefef;
  padding-right: 10px;
}

.options-section {
  margin-top: 0;
  margin-left: 1px;
  padding-top: 10px;
  padding-left: 0;
}

form {
  padding: 0;
  margin: 0;
}

.option-text {
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

h1 {
  color: rgb(48, 57, 66);
  margin-top: 0;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  padding-bottom: 8px;
  border-bottom: 1px solid #cccccc;
}

h2 {
  color: rgb(48, 57, 66);
  margin-top: 0;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  padding-bottom: 8px;
  border-bottom: 1px solid #cccccc;
}

/***************************** DISPLAY SETTINGS **********************/

#section-display-settings {
  display: none;
}

#options-table tr td {
  user-select: none;
  -webkit-user-select: none;
}

#options-table td {
  padding-left: 0;
  padding-right:30px;
  padding-top: 0;
  padding-bottom: 10px;
}

#options-table input {
  width: 225px;
}

#options-table select {
  margin-left: 0;
}

/***************************** NAVIGATION ********************/

td#nav-cell-container {
  font-size: 130%;
  width: 180px;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  border-right: 2px solid #bbbbbb;
}

ul#navigation-menu {
  list-style-type:none;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: rgb(48, 57, 66);
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 10px;
  padding-right: 0;
}


ul#navigation-menu li {
  -webkit-border-start: 6px solid transparent;
  -webkit-padding-start: 10px;
  -webkit-user-select: none;
  cursor: pointer;
  line-height: 2em;
}

ul#navigation-menu li.navigation-item-selected {
  -webkit-border-start-color: blue;
  cursor: default;
  pointer-events: none;
}

#check-for-updates {
  margin-left: 20px;
}

/***************************** SUBSCRIBE *****************/

#section-add-subscription {
  display: none;
}

#subscribe-url {
  width: 500px;
}

/***************************** GENERAL SETTINGS ***************/

#section-general-settings {
    display:none;
}

#general-settings-table {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    border-spacing: 10px;
}

#general-settings-table td {
    padding: 5px;
}

/***************************** SUBSCRIPTIONS *******************/

#section-subscriptions {
    display:none;
}

#feedlist {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 94%;
  list-style-type: none;
  padding-left: 0;
}

#feedlist li {
  cursor: pointer;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  border-bottom: 1px solid #cccccc;
  -webkit-user-select: none;
}

#feedlist li[inactive] {
  color: #888888;
}

#feedlist li:hover {
  background-color: rgb(50, 80, 184);
  color:#efefef;
}

#feedlist li a {
  margin-right: 10px;
}

#feedlist li img {
   max-width: 26px;
   margin-right: 8px;
}

#nosubs {
  display: none;
}

/***************************** FEED DETAILS *************/

#section-feed-details {
  display: none;
}

#feed-details-table {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

#feed-details-table td {
  padding: 10px;
}

/***************************** IMPORT-EXPORT ***************/

#section-backup {
  display:none;
}

/***************************** HELP ****************/

#divhelp {
  display: none;
}

/***************************** ABOUT **************/

#divabout {
  display: none;
}


/***************************** SUBSCRIPTION MONITOR ***********/
#submon {
  display: block;
  background-color: #ffffff;
  color: #000000;
  font-size: 14pt;
  position: fixed;
  float: left;
  top: 100px;
  left: 20%;
  right: 20%;
  padding: 30px;
  border: 1px solid #444444;
}

/***************************** ERROR MESSAGE *********/
#options-error-message {
  display: block;
  opacity: 0;
  background-color: red;
  color: #ffffff;
  font-size: 14pt;
  position: fixed;
  float: left;
  top: 100px;
  left: 20%;
  right: 20%;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  background-clip: padding-box;
  box-shadow: 2px 2px 4px 0px #000000;
}

#dismiss-error-button {
  padding: 2px;
  float: right;
}
