html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;

  /* For some reason Chrome sets 75%?*/
  font-size: 100%;
}

#main-container {
  display: flex;
}

#left-panel {
  /* Needed to get shadow to appear when element earlier in document order than adjacent */
  z-index: 2;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: 320px;
  background-color: #ffffff;
  opacity: 1;
  /* Initialize off screen */
  margin-left: -320px;
  padding-top: 56px;
  transition: all 0.1s linear 0s;
}

#right-panel {
  flex-grow: 1;
}

#slideshow-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height:auto;

  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 !important;
  padding: 0 !important;
  transition: left 1s ease-in 0s;
}





#menu {
  z-index: 10;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #1f52a2;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),
    0 3px 3px -2px rgba(0,0,0,.2),
    0 1px 8px 0 rgba(0,0,0,.12);
  opacity: 0;
  transition: opacity 0.5s ease;
  color: #ffffff;
  text-shadow: 1px 1px 1px #222222;
  font-size: 24px;
}

#menu:hover {
  opacity: 1;
}

#main-menu-button {
  pointer-events: initial;
  cursor: pointer;
  margin: auto;
}

#main-menu-button:hover {
  color: #000000;
  text-shadow: 1px 1px 1px #ffffff;
}

#left-panel ul {
  list-style-type: none;
  /* Turn off whatever the hell Chrome is doing to UL */
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

#left-panel li {
  /*padding: 0;*/
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  font-size: 14px;
}

#left-panel li:hover {
  background-color: #efefef;
  cursor: pointer;
}


#refresh {
  pointer-events: initial;
  cursor: pointer;
  margin: auto;
}

#refresh:hover {
  color: #000000;
  text-shadow: 1px 1px 1px #ffffff;
}

#initial-loading-panel {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 100px;
  font-size: 40px;
}

#error-message-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  right: auto;
  bottom: auto;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  padding: 20px;
  margin: auto;
  transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 120%;
}

hr {
  size:1;
  color:#222222;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}


#feeds-container {
  display: none;
  user-select: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding-top: 6%;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 12%;
}

#feeds-container div {
  float: left;
  margin: 6px;
  min-width: 200px;
  width: 200px;
  min-height: 200px;
  height: 200px;
  padding: 20px;
  font-size: 32px;
  background-color: green;
  color: #ffffff;
  overflow-wrap: break-word;
  cursor: zoom-in;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 3px #404340;
}

#feeds-container div[inactive="true"] {
  background-color: #222222;
}

#feeds-container div:hover {
  background-color: #19c719;
}

#feeds-container div[inactive="true"]:hover {
  background-color: #666666;
}

#feeds-container table {
  display: none;
  vertical-align: top;
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  cursor: pointer;
}

#feeds-container td {
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
  user-select: initial;

}





.entry img {
  max-width: 100%;
  max-height: 100%;
}

.entry span.entry-content img {
  display: block;
  margin: auto;
  padding: 0;
  -webkit-margin: 0;

  /*
  Init the opacity to ensure the transition works when softening on hover,
  and also slightly soften so that image better blends with the article background
  */
  opacity: 0.90;

  /* Messing around with softening image corners
  Idea from http://www.elopezr.com/the-rendering-of-middle-earth-shadow-of-mordor/
  The 'parabola' effect
  */
  border-radius: 8px;
  border: 0 solid #333;
  box-shadow: 0 0 4px #111;

  /* For opacity and border change on hover */
  transition: all .3s ease-in-out;
}

.entry .entry-content img:hover {
  opacity: 0.8;
  box-shadow: none;
}

.entry .entry-title {
  display: block;
  letter-spacing: -0.02em;
  color: rgba(50, 50, 50, 0.9);
  text-shadow: 1px 1px 2px #cccccc;
  text-decoration: none;
  word-wrap: break-word;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.entry .entry-content {
  text-shadow: 1px 1px 2px #efefef;
}

article a {
  text-decoration: none;
  color: rgba(0, 84, 129, 0.84);
}


/* Each article has a tabindex so that it is focusable. Each time an article is displayed it
is focused. The focusing is done so that keyboard based scrolling works.  However, focusing then
causes an ugly border to appear around the element. This turns off that border. */
article:focus {
  outline: none;
}

/*
This is required to get long words without spaces to break when
within a table cell
http://stackoverflow.com/questions/1258416
http://stackoverflow.com/questions/1057574
*/
article .entry-content td {
  vertical-align: top;
  white-space: normal;
  /* We have to change from break-word to break-all to get
  it to work here */
  word-break: break-all;

  /*
  TODO: the secondary problem is that the width of the cells
  is a bit awkward
  */
}

.entry-source {
  display: block;
  font-size: 10pt;
  color: #cccccc;
  margin-top: 6px;
  margin-bottom: 3px;
}

.entrysourcelink {
  text-decoration: underline;
}

@font-face {
  font-family: Fanwood;
  src: url('/fonts/fanwood-webfont.ttf') format('truetype');
}

@font-face {
  font-family: League Mono Regular;
  src: url('/fonts/LeagueMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: League Spartan;
  src: url('/fonts/leaguespartan-bold.ttf') format('truetype');
}

@font-face {
  font-family: ArchivoNarrow-Regular;
  src: url('/fonts/ArchivoNarrow-Regular.ttf') format('truetype');
}

@font-face {
  /* Free from http://www.fontex.org/download/carto-gothic-std.otf */
  font-family: CartoGothicStd;
  src: url('/fonts/CartoGothicStd-Book.otf') format('opentype');
}

@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Noto Sans;
  src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Open Sans Regular;
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: PathwayGothicOne;
  src: url('/fonts/PathwayGothicOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: PlayfairDisplaySC;
  src: url('/fonts/PlayfairDisplaySC-Regular.ttf');
}

@font-face {
  font-family: Roboto Regular;
  src: url('/fonts/Roboto-Regular.ttf');
}
