html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 100%;
}

#main-container {
  display: flex;
}

#left-panel {
  position: absolute;
  /*z-index: 2;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: 320px;
  background-color: #ffffff;
  opacity: 1;
  margin-left: -320px;
  /*padding-top: 56px;*/
  transition: all 0.15s linear 0s;
}

#right-panel {
  flex-grow: 1;
}

#menu {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #1f52a278;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),
    0 3px 3px -2px rgba(0,0,0,.2),
    0 1px 8px 0 rgba(0,0,0,.12);
  opacity: 0;
  transition: opacity 0.5s ease;
  color: #ffffff;
  text-shadow: 1px 1px 1px #222222;
  font-size: 24px;
}

#menu:hover {
  opacity: 1;
}

#menu button {
  font-size: 16px;
  font-family: system-ui;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  cursor: hand;
  pointer-events: initial;

  background-color: #ffffff;
  /*background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);*/

  color: #4d4d4f;

  min-width: 75px;
  min-height: 40px;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 4px;

  margin: 0;
  border: 0;
  outline: none;
  user-select: none;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;

  text-transform: uppercase;

  transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

#menu button:hover {
  background-color: rgba(0,0,0, 0.8);
  color: #ffffff;
  text-shadow: none;

}

#menu button:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#left-panel ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

#left-panel li {
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  font-size: 14px;
}

#left-panel li:hover {
  background-color: #efefef;
  cursor: pointer;
}

#initial-loading-panel {
  background-color: white;
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 100px;
  font-size: 40px;
}

#error-message-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  right: auto;
  bottom: auto;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  padding: 20px;
  margin: auto;
  transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 120%;
}

hr {
  size:1;
  color:#222222;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

#feeds-container {
  display: none;
  user-select: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding-top: 6%;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 12%;
  overflow-y: auto;
}

#feeds-container div {
  float: left;
  margin: 6px;
  min-width: 200px;
  width: 200px;
  min-height: 200px;
  height: 200px;
  padding: 20px;
  font-size: 32px;
  background-color: green;
  color: #ffffff;
  overflow-wrap: break-word;
  cursor: zoom-in;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 3px #404340;
}

#feeds-container div[inactive="true"] {
  background-color: #222222;
}

#feeds-container div:hover {
  background-color: #19c719;
}

#feeds-container div[inactive="true"]:hover {
  background-color: #666666;
}

#feeds-container table {
  display: none;
  vertical-align: top;
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  cursor: pointer;
}

#feeds-container td {
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
  user-select: initial;
}

#no-entries-message {
  /* Initially hidden */
  display: none;
  margin: auto;
  width: 80%;
  padding-top: 100px;
  font-size: 60px;
}

#no-entries-message li {
  font-size: 24px;
}


slide {
  position: absolute;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  /* Try for flick scroll */
  -webkit-overflow-scrolling: touch;

  /* For some reason non-0 padding makes width larger than page */
  padding: 0 !important;

  /* This is needed to avoid ugly border on focus */
  outline: hidden;
}

/* TODO: the secondary problem is that the width of the cells is a bit awkward*/

/*
This is required to get long words without spaces to break when
within a table cell
http://stackoverflow.com/questions/1258416
http://stackoverflow.com/questions/1057574
*/
slide .entry-content td {
  vertical-align: top;
  white-space: normal;
  /* We have to change from break-word to break-all to get
  it to work here */
  word-break: break-all;
}

slide a {
  text-decoration: none;
  color: rgba(0, 84, 129, 0.84);
}

/* So that a rule is found */
.entry {
  margin: 0;
}

.entry img {
/*  max-width: 100%;
  max-height: 100%;*/
}

.entry .entry-content {
  vertical-align: text-top;
  display: block;
  text-shadow: 1px 1px 2px #efefef;
  margin: 0;
  word-wrap: break-word;
}

.entry .entry-content img {
  display: block;

  /*margin-left: auto;
  margin-right: auto;*/

  margin-left: -100px;
  margin-right: -100px;

  margin-top: 6px;
  margin-bottom: 6px;

  padding: 0;

  width: auto;


  /*
  Init the opacity to ensure the transition works when softening on hover,
  and also slightly soften so that image better blends with the article background
  */
  opacity: 0.90;

  /* Messing around with softening image corners
  Idea from http://www.elopezr.com/the-rendering-of-middle-earth-shadow-of-mordor/
  The 'parabola' effect
  */
  border-radius: 8px;
  border: 0 solid #333;
  box-shadow: 0 0 4px #111;

  /* For opacity and border change on hover */
  transition: all .3s ease-in-out;
}



.entry .entry-content img:hover {
  opacity: 0.8;
  box-shadow: none;
}

.entry .entry-title {
  display: block;
  letter-spacing: -0.02em;
  color: rgba(50, 50, 50, 0.9);
  text-shadow: 1px 1px 2px #cccccc;
  text-decoration: none;
  word-wrap: break-word;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.entry-source {
  display: block;
  font-size: 20px;
  color: #222222;
  padding: 20px;
  margin-bottom: 30px;
}

.entry-source img {
  margin-right: 10px;
}

.entrysourcelink {
  text-decoration: underline;
}
