header {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #1f52a2;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),
    0 3px 3px -2px rgba(0,0,0,.2),
    0 1px 8px 0 rgba(0,0,0,.12);
  opacity: 0.9;
  color: #ffffff;
  text-shadow: 1px 1px 1px #222222;
  font-size: 24px;
}

#menu {
  cursor: pointer;
  margin: auto;
}

#menu:hover {
  color: #000000;
  text-shadow: 1px 1px 1px #ffffff;
}

#refresh {
  cursor: pointer;
  margin: auto;
}

#refresh:hover {
  color: #000000;
  text-shadow: 1px 1px 1px #ffffff;
}

#initial-loading-panel {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 100px;
  font-size: 40px;
}

#error-message-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  right: auto;
  bottom: auto;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  padding: 20px;
  margin: auto;
  transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 120%;
}

hr {
  size:1;
  color:#222222;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

#slideshow-container {
  overflow: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 53px;
  bottom: 0;
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.entry img {
  /* I don't want the border, it looks bad. I just want the shadow */
  /*border: 1px solid #777777;*/

  max-width: 100%;
}

.entry span.entry-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 0;
  -webkit-margin: 0;

  /* Messing around with giving images a 3d effect */
  box-shadow: 0 8px 6px -6px #222222;
}
