
slide {
  position: absolute;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  /* Try for flick scroll */
  -webkit-overflow-scrolling: touch;

  /* For some reason non-0 padding makes width larger than page */
  padding: 0 !important;

  /* This is needed to avoid ugly border on focus */
  outline: hidden;
}

/* TODO: the secondary problem is that the width of the cells is a bit awkward*/

/*
This is required to get long words without spaces to break when
within a table cell
http://stackoverflow.com/questions/1258416
http://stackoverflow.com/questions/1057574
*/
slide .entry-content td {
  vertical-align: top;
  white-space: normal;
  /* We have to change from break-word to break-all to get
  it to work here */
  word-break: break-all;
}

slide a {
  text-decoration: none;
  color: rgba(0, 84, 129, 0.84);
}

/* So that a rule is found */
.entry {
  margin: 0;
}

.entry img {
  max-width: 100%;
  max-height: 100%;
}

.entry .entry-content {
  vertical-align: text-top;
  display: block;
  text-shadow: 1px 1px 2px #efefef;
  margin: 0;
  word-wrap: break-word;
}

.entry .entry-content img {
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: 6px;

  padding: 0;




  /*
  Init the opacity to ensure the transition works when softening on hover,
  and also slightly soften so that image better blends with the article background
  */
  opacity: 0.90;

  /* Messing around with softening image corners
  Idea from http://www.elopezr.com/the-rendering-of-middle-earth-shadow-of-mordor/
  The 'parabola' effect
  */
  border-radius: 8px;
  border: 0 solid #333;
  box-shadow: 0 0 4px #111;

  /* For opacity and border change on hover */
  transition: all .3s ease-in-out;
}



.entry .entry-content img:hover {
  opacity: 0.8;
  box-shadow: none;
}

.entry .entry-title {
  display: block;
  letter-spacing: -0.02em;
  color: rgba(50, 50, 50, 0.9);
  text-shadow: 1px 1px 2px #cccccc;
  text-decoration: none;
  word-wrap: break-word;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}



.entry-source {
  display: block;
  font-size: 20px;
  color: #222222;
  padding: 20px;
  margin-bottom: 30px;
}

.entry-source img {
  margin-right: 10px;
}

.entrysourcelink {
  text-decoration: underline;
}
