body,html {
	height:100%;
}

form {
	padding:0px;
	margin:0px;
}

.options_section {
	position:absolute;
	left:200px;
	right:0px;
	margin-top:0px;
	margin-right:10px;
	padding-top: 10px;
	padding-left:0px;
}

.option-text {
	font-size:90%;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

h1 {
	color: rgb(48, 57, 66);
	margin-top: 0px;
	font-size:130%;
	font-weight:normal;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	padding-bottom: 8px;
	border-bottom: 1px solid #cccccc;
}

h2 {
	color: rgb(48, 57, 66);
	margin-top: 0px;
	font-size:110%;
	font-weight:normal;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	padding-bottom: 8px;
	border-bottom: 1px solid #cccccc;	
}