html {
	margin:0px;
	padding:0px;
}

body {
	margin:0px;
	padding:0px;
}

#f-it {
	position:absolute;
	width:100%;
	border-spacing:0px;
	height:100%;
}

#section-layout-container {
	vertical-align:top;
	padding-left:6px;
	border-left:2px solid #efefef;
	padding-right:10px;
}

.options_section {
	margin-top:0px;
	margin-left:1px;
	padding-top: 10px;
	padding-left:0px;
}

form {
	padding:0px;
	margin:0px;
}

.option-text {
	font-size:90%;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

h1 {
	color: rgb(48, 57, 66);
	margin-top: 0px;
	font-size:130%;
	font-weight:normal;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	padding-bottom: 8px;
	border-bottom: 1px solid #cccccc;
}

h2 {
	color: rgb(48, 57, 66);
	margin-top: 0px;
	font-size:110%;
	font-weight:normal;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	padding-bottom: 8px;
	border-bottom: 1px solid #cccccc;	
}