#section-add-subscription {
	display:none;
}

#subscribe-discover-query {
	width:500px;
}


#subscription-preview {
	display:none;
}

#subscription-preview-load-progress {

  /*-webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 20px;*/
}

#subscription-preview-title {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size:14pt;
}

#subscription-preview-continue {
	margin-right:10px;
}

#subscription-preview-entries {
	font-family: 'Segoe UI', Tahoma, sans-serif;
	list-style-type:none;
	margin-left:0px;
	padding-left:2px;
	
}
#subscription-preview-entries li {
	padding-top:2px;
	padding-bottom:2px;
	border-bottom:1px dotted #efefef;
}




#discover-no-results {
	display:none;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

#discover-in-progress {
	display:none;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

#discover-results-list {
	display:none;
	list-style-type:none;
	display:block;
	padding-left:0px;
	margin-top:0px;
}

#discover-results-list li {
	display:block;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	margin-bottom:0px;
	padding-left:0px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:0px;
	border-bottom: 1px dotted #cccccc;
}

#discover-results-list li a {
  margin-right:3px;
}

#discover-results-list li button {
	margin-right:6px;
}

#discover-results-list li img {
	margin-right:6px;
	/* The favIcon service sometimes sends back non-16x16 images. Force the scale */
	max-width:16px;
}

#discover-results-list li span.discover-search-result-url {
	color: #41BD00;
	margin-left: 10px;
}