body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: NewsCycle;
  src: url('/font/news-cycle/NewsCycle-Regular.ttf') format('truetype');
}

.arialsans {
  font-family: Arial, sans-serif;
}

.calibri {
  font-family: Calibri;
}

.calibri-light {
  font-family: Calibri Light;
}

.cambria {
  font-family: Cambria;
}

.georgia {
  font-family: Georgia; 
}

.mssansseerif {
  font-family: MS Sans Serif;
}

.newscycle {
  font-family: NewsCycle, sans-serif;
}