td#nav-cell-container {
	width:180px;
	margin:0px;
	padding:0px;
	border:0px;
	vertical-align:top;
	border-right:2px solid #bbbbbb;
	
}

ul#navigation-menu {
	
	
	list-style-type:none;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	color: rgb(48, 57, 66);
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding-top:10px;
	padding-left:0px;
	padding-bottom:10px;
	padding-right:0px;
	
}


ul#navigation-menu li {
	-webkit-border-start: 6px solid transparent;
	-webkit-padding-start: 10px;
	-webkit-user-select: none;
	cursor: pointer;
	line-height: 1.8em;
}

ul#navigation-menu li.navigation-item-selected {
	-webkit-border-start-color: blue;
	cursor: default;
	pointer-events: none;
}