body,html {
	height:100%;
}

#navigation {
	float:left;
	width:15%;
	height: 100%;
	margin:0px;
	padding:0px;	
}

#navigation-menu {
	color: rgb(48, 57, 66);
	list-style-type:none;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 94%;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

li.navigation-item {
	-webkit-border-start: 6px solid transparent;
	-webkit-padding-start: 10px;
	-webkit-user-select: none;
	cursor: pointer;
	line-height: 1.8em;
}

li.navigation-item-selected {
	-webkit-border-start-color: blue;
	cursor: default;
	pointer-events: none;
}

div.options_section {
	margin:0px;
	padding-top: 10px;
	padding-left:0px;
	float:left;
	width:84%;
}

#section-add-subscription {
	display:none;
}

#divdiscover {
	display:none;
}

#divfeedlist {
	display:none;
}

#divfeedlist h1 button {
	margin-left: 20px;
}

#divhelp {
	display:none;
}

#section-display-settings {
	display:none;
}

#section-content-filters {
	display:none;
}

#section-blacklist {
	display:none;
}

#divabout {
	display:none;
}

#options_table tr td {
	/*vertical-align:top;*/
	padding-left:0px;
	padding-right:4px;
	padding-top:0px;
	padding-bottom:10px;
}

#options_table tr td:first-child {
	white-space: nowrap;
}


form {
	padding:0px;
	margin:0px;
}

h1 {
	color: rgb(48, 57, 66);
	margin-top: 0px;
	font-size:130%;
	font-weight:normal;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	padding-bottom: 8px;
	border-bottom: 1px solid #cccccc;
}

.option-text {
	font-size:90%;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

#addurl {
	width:500px;
}

#addbutton {
	
}

#feedlist {
	list-style-type:none;
	display:block;
	padding-left:0px;
	padding-top:1px;
	padding-bottom:1px;
	margin: 0px;
}

#feedlist li {
	display:block;
	margin-bottom:10px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:0px;
	/*border-bottom: 1px solid #efefef;*/
	font-size:110%;
	font-family: 'Segoe UI', Tahoma, sans-serif;

	border-radius: 3px;
	box-shadow: 0px 2px 2px 0px #999999;
}

#feedlist li img {
	 max-width:26px;
	 margin-right: 10px;
}

#feedlist li button {
	float:right;
	margin-right: 30px;
}

#nosubscriptions {
	display: none;
}

#discover-query {
	width: 500px;
}

#discover-no-results {
	display:none;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

#discover-in-progress {
	display:none;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

#discover-results-list {
	display:none;
	list-style-type:none;
	display:block;
	padding-left:0px;
	margin-top:0px;
}

#discover-results-list li {
	display:block;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	margin-bottom:0px;
	padding-left:0px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:0px;
	border-bottom: 1px dotted #cccccc;
}

#discover-results-list li button {
	margin-right:6px;
}

#discover-results-list li img {
	margin-right:6px;
}

#blacklist {
	width:500px;
	height:500px;
}

#display-preview {
	padding:10px;
	margin-bottom:20px;
}

#header_font_preview {
	display:block;
	margin-bottom:5px;
}

#content-filters-list {
	list-style-type: none;
	padding-left:0px;
}
#create-filter-text {
	width:200px;
}

#options_subscription_monitor {
  display:block;
  background-color: #ffffff;
  color: #000000;
  font-size: 14pt;
  position:fixed;
  float:left;
  top:100px;
  left:20%;
  right:20%;
  padding: 30px;
  border: 1px solid #444444;
}

#options_error_message {
  display:block;
  opacity: 0;
  background-color:red;
  color:#ffffff;
  font-size:14pt;
  position:fixed;
  float:left;
  top:100px;
  left:20%;
  right:20%;
  padding:20px 20px 20px 20px;
  border-radius: 10px;
  background-clip: padding-box;
  box-shadow: 2px 2px 4px 0px #000000;
}

#options_dismiss_error_button {
  padding:2px;
  float:right;
}