form {
	padding:0px;
	margin:0px;
}

#divsubscribe {
	background-color: #efefef;
}

#addurl {
	font-size:18pt;
	width:750px;
	padding: 14px;
	background-color:#cccccc;
	border: 1px solid #efefef;
	outline: none;
}

#addbutton {
	font-size:18pt;
	padding:14px;
	background-color:#cccccc;
	border: 1px solid #efefef;
	outline: none;
}

#feedtable {
	width:100%;
	border: 0px;
}

td {
  padding:10px;
}

.feed_list_url_input {
	width:500px;
}

#divfeedlist {
	background-color: #FFFFD4;
}

.options_section {
	padding:20px;
	left:0px;
	right:0px;
}

.option_section_header {
	font-family:arial, sans-serif;
	font-size:14pt;
}

#divhelp {
	background-color: #FFDFFF;
}

#divoptions {
	background-color:#D1FFC2;
}

#nosubscriptions {
	display: none;
}

#options_subscription_monitor {
  display:block;
  background-color: #ffffff;
  color: #000000;
  font-size: 14pt;
  position:fixed;
  float:left;
  top:100px;
  left:20%;
  right:20%;
  padding: 30px;
  border: 1px solid #444444;
}

#options_error_message {
  display:block;
  opacity: 0;
  background-color:red;
  color:#ffffff;
  font-size:14pt;
  position:fixed;
  float:left;
  top:100px;
  left:20%;
  right:20%;
  padding:20px 20px 20px 20px;
  
  border-radius: 10px;
  background-clip: padding-box;
  box-shadow: 2px 2px 4px 0px #000000;
}

#options_dismiss_error_button {
  padding:2px;
  float:right;
}

