#slideshow-container {
  overflow:none;
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  margin:0px;
  padding-top:0px;
  padding-left:0px;
  padding-bottom:0px;
  padding-right:0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
  font-size: 120%;
}

hr {
  size:1;
  color:#222222;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
