html {
	margin:0px;
	padding:0px;
}

body {
	margin:0px;
	padding:0px;
}

#f-it {
	position:absolute;
	width:100%;
	border-spacing:0px;
	height:100%;
}

#section-layout-container {
	vertical-align:top;
	padding-left:6px;
	border-left:2px solid #efefef;
	padding-right:10px;
}

.options_section {
	margin-top:0px;
	margin-left:1px;
	padding-top: 10px;
	padding-left:0px;
}

form {
	padding:0px;
	margin:0px;
}

.option-text {
	font-size:90%;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

h1 {
	color: rgb(48, 57, 66);
	margin-top: 0px;
	font-size:130%;
	font-weight:normal;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	padding-bottom: 8px;
	border-bottom: 1px solid #cccccc;
}

h2 {
	color: rgb(48, 57, 66);
	margin-top: 0px;
	font-size:110%;
	font-weight:normal;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	padding-bottom: 8px;
	border-bottom: 1px solid #cccccc;
}

/***************************** DISPLAY SETTINGS **********************************/


#section-display-settings {
	display:none;
}

#display-preview {
  padding:0px;
  margin-left:0px;
  margin-bottom:20px;
  margin-right:5px;
  overflow-x: none;
  overflow-y: auto;
  height:200px;
}

#options_table tr td {
	user-select:none;
	-webkit-user-select: none;
}


#options_table tr td {
	padding-left:0px;
	padding-right:30px;
	padding-top:0px;
	padding-bottom:10px;
}


#options_table input {
	width:225px;
}

#options_table select {
	margin-left: 0px;
}

/***************************** NAVIGATION **********************************/

td#nav-cell-container {
	width:180px;
	margin:0px;
	padding:0px;
	border:0px;
	vertical-align:top;
	border-right:2px solid #bbbbbb;
}

ul#navigation-menu {
	list-style-type:none;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	color: rgb(48, 57, 66);
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding-top:10px;
	padding-left:0px;
	padding-bottom:10px;
	padding-right:0px;
}


ul#navigation-menu li {
	-webkit-border-start: 6px solid transparent;
	-webkit-padding-start: 10px;
	-webkit-user-select: none;
	cursor: pointer;
	line-height: 1.8em;
}

ul#navigation-menu li.navigation-item-selected {
	-webkit-border-start-color: blue;
	cursor: default;
	pointer-events: none;
}

/***************************** SUBSCRIBE-DISCOVER **********************************/


#section-add-subscription {
	display:none;
}

#subscribe-discover-query {
	width:500px;
}


#subscription-preview {
	display:none;
}

#subscription-preview-load-progress {

  /*-webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 20px;*/
}

#subscription-preview-title {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size:14pt;
}

#subscription-preview-continue {
	margin-right:10px;
}

#subscription-preview-entries {
	font-family: 'Segoe UI', Tahoma, sans-serif;
	list-style-type:none;
	margin-left:0px;
	padding-left:2px;

}
#subscription-preview-entries li {
	padding-top:2px;
	padding-bottom:2px;
	border-bottom:1px dotted #efefef;
}


#discover-no-results {
	display:none;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

#discover-in-progress {
	display:none;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

#discover-results-list {
	display:none;
	list-style-type:none;
	padding-left:0px;
	margin-top:0px;
}

#discover-results-list li {
	display:block;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	margin-bottom:0px;
	padding-left:0px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:0px;
	border-bottom: 1px dotted #cccccc;

  /* Otherwise any search result can screw up the size*/
  word-wrap: break-word;
  word-break: break-all;
  max-width:100%;
}

#discover-results-list li a {
  margin-right:3px;
}

#discover-results-list li button {
	margin-right:6px;
}

#discover-results-list li img {
	margin-right:6px;
	/* The favIcon service sometimes sends back non-16x16 images. Force the scale */
	max-width:16px;
}

#discover-results-list li span.discover-search-result-url {
	color: #41BD00;
	margin-left: 10px;
}

/***************************** GENERAL SETTINGS **********************************/


#section-general-settings {
    display:none;
}

#general-settings-table {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding:0px;
    margin:0px;
    border-spacing:10px;
}

#general-settings-table td {
    padding: 5px;

}

/***************************** SUBSCRIPTIONS **********************************/

#section-subscriptions {
    display:none;
}

#feedlist {
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size:94%;
	list-style-type:none;
	padding-left:0px;
}

#feedlist li {
	cursor: pointer;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:8px;
	border-bottom: 1px solid #cccccc;
	-webkit-user-select: none;
}

#feedlist li:hover {
	background-color: rgb(50, 80, 184);
	color:#efefef;
}

#feedlist li a {
	margin-right: 10px;
}

#feedlist li img {
	 max-width:26px;
	 margin-right: 8px;
}

#nosubscriptions {
	display: none;
}


/***************************** FEED DETAILS **********************************/

#section-feed-details {
  display:none;
}

#feed-details-table {
  width:100%;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

#feed-details-table td {
  padding:10px;

}

/***************************** EMBED POLICY **********************************/

#section-embeds {
	display:none;
}

#embed-behavior-policy-list {
	list-style-type:none;
	padding-left:0px;
	width:100%;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

#embed-behavior-policy-list li {
	padding-bottom: 10px;
}

#approved-embeds-list {
	list-style-type:none;
	padding-left:0px;
	width:100%;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

#approved-embeds-list li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #cccccc;
}

#approved-embeds-list li button {
	float:right;
}


/***************************** CONTENT FILTERS **********************************/


#section-content-filters {
	display:none;
}

#content-filter-view-original {
	margin-top:50px;
	margin-left:20px;
	background-color:maroon;
}

#content-filter-view-filtered {
	background-color:navy;
}

.content-filter-preview-tab {
	color:white;
	font-weight: 700;
	margin-bottom:0px;
	padding:5px;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	cursor: pointer;
}

.preview-content-viewer-area {
	margin-top:2px;
	margin-bottom:10px;
	height:150px;
	width:98%;
	white-space: normal;
	word-wrap:break-word;
	overflow: auto;
}

#raw-content-viewer {
	border:3px solid maroon;

}

#filtered-content-viewer {
	border:3px solid navy;
	display:none;
}

#raw-select-entry {
	width:300px;
}

#raw-content-holder-hidden {
	visibility:hidden;
	display:none;
}

#content-filters-list {
	list-style-type: none;
	padding-left:0px;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	display:block;
	width:100%;
}

#create-filter-text {
	width:200px;
}

#content-filters-list li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #cccccc;
}

#content-filters-list li button {
  float:right;
}


/***************************** IMPORT-EXPORT **********************************/

#section-backup {
  display:none;
}

/***************************** HELP **********************************/

#divhelp {
	display:none;
}

/***************************** ABOUT **********************************/

#divabout {
	display:none;
}


/***************************** SUBSCRIPTION MONITOR **********************************/
#options_subscription_monitor {
  display:block;
  background-color: #ffffff;
  color: #000000;
  font-size: 14pt;
  position:fixed;
  float:left;
  top:100px;
  left:20%;
  right:20%;
  padding: 30px;
  border: 1px solid #444444;
}

/***************************** ERROR MESSAGE **********************************/
#options_error_message {
  display:block;
  opacity: 0;
  background-color:red;
  color:#ffffff;
  font-size:14pt;
  position:fixed;
  float:left;
  top:100px;
  left:20%;
  right:20%;
  padding:20px 20px 20px 20px;
  border-radius: 10px;
  background-clip: padding-box;
  box-shadow: 2px 2px 4px 0px #000000;
}

#options_dismiss_error_button {
  padding:2px;
  float:right;
}