html {
  font-size: 100%;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

input#url {
  width: 600px;
  font-size: 14px;
}

button#load {
  font-size: 20px;
}

section#content {
  width: 90%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  margin: auto;
}

body {
  padding: 0;
  margin: 0;
}

#boilerplate-form {
  /*position: fixed;*/
  width: 100%;
  margin: 0;
  background-color: gray;
  padding: 30px;
}

img {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-botto: 20px;
}

[boilerplate="highest"] {
  background-color: red;
}

[boilerplate="high"] {
  background-color: pink;
}

[boilerplate="neutral"] {
  background-color: gainsboro;
}

[boilerplate="low"] {
  background-color: lightgreen;
  color: white;
}

[boilerplate="lowest"] {
  background-color: green;
  color: white;
}
