html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 100%;
}

#main-container {
  display: flex;
}

#left-panel {
  /* Needed to get shadow to appear when element earlier in document order than adjacent */
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;

  flex-grow: 0;
  flex-shrink: 0;
  width: 320px;
  background-color: #ffffff;
  opacity: 1;
  /* Initialize off screen */
  margin-left: -320px;
  padding-top: 56px;
  transition: all 0.1s linear 0s;
}

#right-panel {
  flex-grow: 1;
}

#menu {
  z-index: 10;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #1f52a2;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),
    0 3px 3px -2px rgba(0,0,0,.2),
    0 1px 8px 0 rgba(0,0,0,.12);
  opacity: 0;
  transition: opacity 0.5s ease;
  color: #ffffff;
  text-shadow: 1px 1px 1px #222222;
  font-size: 24px;
}

#menu:hover {
  opacity: 1;
}

#main-menu-button {
  pointer-events: initial;
  cursor: pointer;
  margin: auto;
}

#main-menu-button:hover {
  color: #000000;
  text-shadow: 1px 1px 1px #ffffff;
}

#left-panel ul {
  list-style-type: none;
  /* Turn off whatever the hell Chrome is doing to UL */
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

#left-panel li {
  /*padding: 0;*/
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  font-size: 14px;
}

#left-panel li:hover {
  background-color: #efefef;
  cursor: pointer;
}


#refresh {
  pointer-events: initial;
  cursor: pointer;
  margin: auto;
}

#refresh:hover {
  color: #000000;
  text-shadow: 1px 1px 1px #ffffff;
}

#initial-loading-panel {
  background-color: white;
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 100px;
  font-size: 40px;
}

#error-message-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  right: auto;
  bottom: auto;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  padding: 20px;
  margin: auto;
  transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 120%;
}

hr {
  size:1;
  color:#222222;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}


#feeds-container {
  display: none;
  user-select: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding-top: 6%;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 12%;
  overflow-y: auto;
}

#feeds-container div {
  float: left;
  margin: 6px;
  min-width: 200px;
  width: 200px;
  min-height: 200px;
  height: 200px;
  padding: 20px;
  font-size: 32px;
  background-color: green;
  color: #ffffff;
  overflow-wrap: break-word;
  cursor: zoom-in;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 3px #404340;
}

#feeds-container div[inactive="true"] {
  background-color: #222222;
}

#feeds-container div:hover {
  background-color: #19c719;
}

#feeds-container div[inactive="true"]:hover {
  background-color: #666666;
}

#feeds-container table {
  display: none;
  vertical-align: top;
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  cursor: pointer;
}

#feeds-container td {
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
  user-select: initial;

}
