td#nav-cell-container {
  font-size: 130%;
  width: 180px;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  border-right: 2px solid #bbbbbb;
}

ul#navigation-menu {
  list-style-type:none;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: rgb(48, 57, 66);
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 10px;
  padding-right: 0;
}

ul#navigation-menu li {
  -webkit-border-start: 6px solid transparent;
  -webkit-padding-start: 10px;
  -webkit-user-select: none;
  cursor: pointer;
  line-height: 2em;
}

ul#navigation-menu li.navigation-item-selected {
  -webkit-border-start-color: blue;
  cursor: default;
  pointer-events: none;
}

#check-for-updates {
  margin-left: 20px;
}
